/* BEGIN - body & html */
html, body {
  margin: 0;
  padding: 0;
}

body {
  /*background: url(images/main-container.jpg) no-repeat center center fixed;*/
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* END - body & html */

/* BEGIN - common */
.border {
  border-style: solid;
  border-color: #444;
  border-width: 3px;
  border-radius: 15px;
}

.container {
  margin: 0;
  padding: 0;
}

.container-background {
  background: url(images/content-container.png);
}
/* END - common */

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 25px;
}

.nav {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.nav .nav-element {
  display: inline-block;

  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;  
  font-weight: bold;
  font-size: 24px;

  margin: 15px 10px;
  padding: 0;
}

.nav .nav-pages { color: #ed6c02; }
.nav .nav-tags { color: #001b87; }
.nav .nav-about { color: #ff2200; }

.content-container {
  max-width: 1000px;

  border-top: none;

  margin: 50px auto;
  margin-top: 0;
  padding: 25px;
}

.bender-container .bender-mind {
  background: white;

  position: fixed;
  right: 50px;
  bottom: 200px;
  z-index: 1;

  text-align: center;

  padding: 15px;

  border: solid 3px #444;
  border-radius: 15px;
}

.bender-container .bender-way {
  position: fixed;
  right: 80px;
  bottom: 105px;
  z-index: 1;
}

.bender-container .bender-photo {
  width: 175px;

  position: fixed;
  right: 0;
  bottom: 0;
}

@media(max-width: 1200px) {
  .bender-container .bender-mind { display: none; }
  .bender-container .bender-way { display: none; }
  .bender-container .bender-photo { display: none; }
}

