/* BEGIN - body & html */
html, body {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/main-container.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* END - body & html */

/* BEGIN - common */
.border {
  border-style: solid;
  border-color: #444;
  border-width: 5px;
  border-radius: 15px;
}

.container {
  margin: 0;
  padding: 0;
}
/* END - common */

.nav-container {
  background: white;
  width: 80px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  border-right-style: none;
  border-top-style: none;
  border-radius: 0;
  border-bottom-left-radius: 15px;
}

.nav {
  width: 80px;

  list-style-type: none;
  text-align: center;

  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.nav .nav-element {
  width: 80px;
  height: 75px;
}

.nav .nav-element img {
  width: 70px;
}

.nav .nav-element img:hover {
  width: 75px;
}

/* TODO: navigation is not finished! */
.nav-container {
  display: none;
}

.content-container {
  background: url(images/content-container.png);
  max-width: 1000px;

  margin: 50px auto;
  padding: 25px;
}

.bender-container .bender-photo {
  width: 175px;

  position: fixed;
  right: 0;
  bottom: 0;
}

@media(max-width: 1200px) {
  .bender-container .bender-photo { display: none; }
}

